"*":
  "asciidoc-preview": {}
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
    ]
    projectHome: "/Users/nathany/src/github.com/nathany"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "material-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 20
    invisibles: {}
    showIndentGuide: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "88c9f1d6-9395-6a8e-c59e-3b34deb6867d"
  "go-find-references": {}
  "go-plus":
    formatTool: "goreturns"
  "symbols-tree-view": {}
  welcome:
    showOnStartup: false
  wordcount: {}
".elixir.source":
  editor:
    tabLength: 2
".elixir.text":
  editor:
    tabLength: 2
